/* * {
    border: 1px solid black;
} */

:root {
    --eerie: #1D200F;
    --dark: #262B15;
    --grey: #3f3f3f;
    --medium: #464B37;
    --sage: #848871;
    --ash: #A5A99E;
    --lightgrey: #AFB4AD;
}

body {
    grid-template-areas: 
    "header header header"
    "game game game"
    "game game game"
    "game game game";
    background-color: var(--sage);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    height: 100px;
    padding: 24px;
    margin: 0;
    background-color: var(--dark);
    color: white;
    grid-area: header;
}

#game {
    grid-area: game;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    margin-top: 60px;
}

.start {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 200px;
    height: 50px;
    border-radius: 16px;
    background-color: var(--dark);
    border: none;
    color: var(--ash);
    font-size: 1.25rem;
}

.start:hover {
    border: 2px solid var(--lightgrey);
}

/* modal section */

.modal {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: none;
    z-index: 10;
    background-color: white;
    width: 300px;
    max-width: 80%;
    border-radius: 16px;
}

.modal-header {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ash);
    color: var(--dark);
    border-radius: 16px 16px 0px 0px;
    font-size: 1.75rem;
}

.modal-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 15px;
    height: 150px;
    background-color: var(--ash);
    border-radius: 0px 0px 16px 16px;
}

.modal-body button {
    width: 80px;
    height: 30px;
    font-size: 1.25rem;
    border-radius: 14px;
    background-color: var(--eerie);
    border: none;
    color: var(--sage)
}

.modal-body button:hover {
    border: 2px solid var(--lightgrey);
}

.modal.active {
    transform: translateY(-50%) scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* style game board */

.gameboard {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gameboard > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}

#topleft, #centerleft, #bottomleft,
#topcenter, #centercenter, #bottomcenter {
    border-right: 1px solid black;
}

#topleft, #topcenter, #topright,
#centerleft, #centercenter, #centerright {
    border-bottom: 1px solid black;
}