/* * {
    border: 1px solid black;
} */

:root {
    --cordovan: #9B3441;
    --ecru: #B8C99B;
    --butterscotch: #D8972C;
    --orange: #BD632F;
    --charcoal: #273E47;
}

body {
    grid-template-areas: 
    "header header header"
    "game game game"
    "game game game"
    "game game game";
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    height: 100px;
    padding: 24px;
    background-color: var(--charcoal);
    color: white;
    grid-area: header;
}

#game {
    grid-area: game;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3 1fr);
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.top-left, .top-center, .top-right,
.center-left, .center-center, .center-right,
.bottom-left, .bottom-center, .bottom-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    font-size: 50px;
}

.top-left, .center-left, .bottom-left, 
.top-center, .center-center, .bottom-center {
    border-right: 2px solid black;
}

.top-left, .top-center, .top-right, 
.center-left, .center-center, .center-right {
    border-bottom: 2px solid black;
}