/* * {
    border: 1px solid black;
} */

/* color palette */

:root {
    --eerie: #1D200F;
    --dark: #262B15;
    --grey: #3f3f3f;
    --medium: #464B37;
    --sage: #848871;
    --ash: #A5A99E;
    --lightgrey: #AFB4AD;
}

/* page styling */

body {
    background-color: var(--sage);
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    height: 100px;
    padding: 24px;
    margin-bottom: 36px;
    background-color: var(--dark);
    color: white;
    grid-area: header;
}

#start-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* start button */

.start {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 200px;
    height: 50px;
    border-radius: 16px;
    background-color: var(--dark);
    border: none;
    color: var(--ash);
    font-size: 1.25rem;
}

/* modal section */

.modal {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: none;
    z-index: 10;
    background-color: white;
    width: 300px;
    max-width: 80%;
    border-radius: 16px;
}

.modal-header {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ash);
    color: var(--dark);
    border-radius: 16px 16px 0px 0px;
    font-size: 1.75rem;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 15px;
    height: 150px;
    background-color: var(--ash);
    border-radius: 0px 0px 16px 16px;
}

.modal-body input {
    width: 200px;
}

.modal-body .buttons {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.modal-body button {
    width: 80px;
    height: 30px;
    font-size: 1.25rem;
    border-radius: 14px;
    background-color: var(--eerie);
    border: none;
    color: var(--sage)
}

.modal-body button:hover {
    border: 2px solid var(--lightgrey);
}

.modal.active {
    transform: translateY(-50%) scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    margin-bottom: 30px;
}

.cell {
    width: 150px;
    height: 150px;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    color: white;

    border-top: 1px solid var(--eerie);
    border-left: 1px solid var(--eerie);
    &:nth-child(-n + 2) {
        border-top: 1px solid var(--eerie);
    }
    &:nth-child(odd) {
        border-left: 1px solid var(--eerie);
    }
    &:nth-child(-n + 3) {
        border-top: none;
    }
    &:first-child,
    &:nth-child(3n + 1) {
        border-left: none;
    }
}

#status {
    margin: 10px 0;
    text-align: center;
}

#restart-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1em;
}